gameEngine/.vs/gameEngine/v15/.suo
gameEngine/.vs/gameEngine/v15/.suo
*.db
gameEngine/.vs/gameEngine/v15/.suo
*.opendb
*.ipch
*.log
gameEngine/gameEngine/x64/Debug/Game.obj
*.tlog
*.obj
gameEngine/gameEngine/x64/Debug/vc141.idb
*.idb
*.exe
*.pdb
gameEngine/gameEngine/x64/Debug/vc141.idb
*.obj
*.obj
*.tlog
gameEngine/.vs/gameEngine/v15/.suo
*.ilk
gameEngine/x64/Debug/gameEngine.pdb
*.vs
gameEngine/.vs/gameEngine/v15/.suo
gameEngine/.vs/gameEngine/v15/.suo
gameEngine/.vs/gameEngine/v15/Browse.VC.db
gameEngine/gameEngine/x64/Debug/gameEngine.log
gameEngine/gameEngine/x64/Debug/gameEngine.tlog/CL.command.1.tlog
gameEngine/gameEngine/x64/Debug/gameEngine.tlog/CL.read.1.tlog
gameEngine/gameEngine/x64/Debug/gameEngine.tlog/CL.write.1.tlog
gameEngine/gameEngine/x64/Debug/gameEngine.tlog/gameEngine.lastbuildstate
gameEngine/gameEngine/x64/Debug/ResourceManager.obj
gameEngine/gameEngine/x64/Debug/Shader.obj
gameEngine/gameEngine/x64/Debug/sprite_renderer.obj
gameEngine/gameEngine/x64/Debug/Texture.obj
gameEngine/gameEngine/x64/Debug/vc141.idb
gameEngine/gameEngine/x64/Debug/vc141.pdb
gameEngine/.vs/gameEngine/v15/.suo
gameEngine/.vs/gameEngine/v15/.suo
*.VC
*.ipch
*.filters
*.idb
*.pdb
*.tlog
*.lastbuildstate